body{
  background-image: url("fondoapp.jpg") ;
}

.App {
  text-align: center;
}

.input-group{
  width: 60%;
}

.card{
  max-width: 60%;
}

.card-title{
  position: absolute;
  padding: 20px;
}

.card-date{
  position: absolute;
  padding-left: 20px;
  margin-top: 60px;
}

.card-temp{
  position: absolute;
  padding-left: 20px;
  margin-top: 260px;
  font-size: 50px;;
}

.card-desc{
  position: absolute;
  padding-left: 20px;
  margin-top: 320px;
}

.container-desc{
  margin-top: 5%;
  margin-bottom: 10%;
  background-color:transparent;
  color:aliceblue;
  width: 30%;
  display: inline-table;
}

@media (max-width: 768px) {
  .container-desc {
    width: 100%; /* Ocupa el 100% del ancho de la pantalla */
    margin-top: 5%;
    margin-bottom: 15%;
  }
}
